.container {
    width: 100vw;
    height: 95vh;
    padding: 16px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.titulo {
    color: red;
}