.container {
  padding: 16px 0;
  background-color: var(--cian-vibrante);
}

.equipoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiperContainer{
  height: 240px;
}

.mediosContainer{
  margin-top: 16px;
  display: flex;
  justify-content: center;
}