.sectionContainer {
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    background-color: var(--blanco);
    justify-content: center;
    align-items: center;
}

.title {
    width: 50%;
    color: var(--azul-profundo);
    text-align: center;
    font-size: 18px;
    margin-bottom: 16px;
}

.title a {
    color: var(--rosa-vibrante);
    font-weight: 700;
    text-decoration: none;
}
