.wrapper {
    color: var(--blanco);
    background: var(--rosa-vibrante);
    background: -webkit-linear-gradient(90deg, var(--rosa-vibrante) 0%, var(--azul-profundo) 50%, var(--cian-vibrante) 100%);
    background: -moz-linear-gradient(90deg, var(--rosa-vibrante) 0%, var(--azul-profundo) 50%, var(--cian-vibrante) 100%);
    background: linear-gradient(90deg, var(--rosa-vibrante) 0%, var(--azul-profundo) 50%, var(--cian-vibrante) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--rosa-vibrante), endColorstr=var(--cian-vibrante), GradientType=1);
}

.title {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    padding: 8px 0 0 0;
}

.subtitle {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    padding: 4px 0 8px 0;
}